html,
body,
#root {
  min-height: 100vh;
}

.loading {
  align-items: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.loading__text {
  margin-left: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.auth-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  max-width: 480px;
  min-height: 390px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1280px + 2.5rem);
  width: 100%;
}

.content__loading {
  align-items: center;
  display: flex;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.meetings {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 40px 1.25rem;
}

.meetings__title {
  color: #324156;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
}

.meetings__list {
  padding-top: 20px;
}

.meetings__empty {
  align-items: center;
  color: #64748b;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  justify-content: center;
}

.meetings__empty button {
  margin-top: 20px;
}

.meetings li:not(:first-child) {
  border-top: 1px solid #dee6f0;
}

.meeting {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.meeting__meta {
  align-items: center;
  display: flex;
}

.meeting__title {
  margin-right: 10px;
}

.meeting__participants {
  background: #c4b5fd;
  border-radius: 999em;
  color: #fff;
  display: flex;
  font-size: 12px;
  padding: 2px 10px;
  text-transform: uppercase;
}

.meeting__participants svg {
  margin-right: 4px;
  width: 12px;
}

.hero {
  align-items: center;
  background: #ebf2f9;
  border-radius: 20px;
  display: flex;
  flex-grow: 1;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  max-width: calc(1280px + 2.5rem);
  max-height: 760px;
  padding: 14px;
  width: 100%;
}

.hero__content {
  flex: 1 1 auto;
  padding: 10px 20px 10px 60px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 10px;
}

.hero__subtitle {
  color: #47566b;
  font-size: 24px;
  margin-bottom: 42px;
}

.hero__button {
  font-size: 18px;
  padding: 14px 32px;
  width: auto;
}

.hero__image {
  background: #fff;
  border-radius: 14px;
  height: 100%;
  flex: 0 0 40%;
  display: flex;
  align-items: flex-end;
}

.hero__image img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
